{% set template_group = 'twig-store' %}
{% set template = 'index' %}

{% include('ee::default_site.' ~template_group~ '._header') with {title:"About Us" } %}
</head>
<body data-spy="scroll" data-target=".bs-docs-sidebar">

{% include('ee::default_site.' ~template_group~ '._navbar') %}
{% include('ee::default_site.' ~template_group~ '._subhead') %}

	{!-- since we're using twitter bootstrap, the main content area is designated "container", or some other specific classes depending on your requirements--}
	<div class="container">
		{!-- twitter bootstrap breaks up content into rows. The main section of this template is all one row. Rows can also be broken up into more rows --}
		<div class="row">

			{!-- twitter bootstrap breaks up (by default) pages into a 12 column grid. span3, span9 designate how much space these sections will take up --}
			<div class="span3">
				<div class="bs-docs-sidenav">
                    {% include('ee::default_site.' ~template_group~ '._left_nav') %}
                    {% set cart_items = exp.cartthrob.cart_items_info({limit:"1", order_by:"entry_id", sort:"desc"})  %}
                    {% for entry in cart_items %}
                        {% include('ee::default_site.' ~template_group~ '._also_purchased') with {entry_id:entry.entry_id} %}
                    {% endfor %}
				</div>
			</div>

			<div class="span9">
				<section id="about-us">
					<div class="row">
						<div class="span6">
							<h1>About Us</h1>
								{{ exp.cartthrob.view_setting({store_about_us:"yes"}) | raw }}

						</div>
						<div class="span3">

							<div class="thumbnail">
							<img src="{theme_folder_url}../user/cartthrob/store_themes/basic_white/images/main_pic.jpg" />
								<div class="caption">
									<small>A sweet caption for that sweet placeholder pic.</small>
							    </div>
							</div>

						</div>
					</div>
				</section>
				</div>
		</div>
	</div>

{% include('ee::default_site.' ~template_group~ '._footer') %}
