{layout="layouts/_page_w_sidebar"}
{preload_replace:language_code="en"}
{!-- Global Content --}
{exp:channel:entries channel="global_content" url_title="main" dynamic="no" disable="categories|category_fields|member_data|pagination|relationships" cache="yes" refresh="60"}
  	{par_global_content_lo_vars}
{/exp:channel:entries}
{exp:channel:entries channel="site_pages" disable="categories|category_fields|member_data|pagination" cache="yes" refresh="60"}
	{layout:set name="title"}{page_title}{page_title:{language_code}}{/page_title} | {products_{language_code}}{/layout:set}
	{layout:set name="page_title"}{page_title}{page_title:{language_code}}{/page_title}{/layout:set}
	{layout:set name="seo_description"}{seo_page_description}{seo_page_description:{language_code}}{/seo_page_description}{/layout:set}
	{layout:set name="seo_canonical"}{current_url}{/layout:set}

	{if feature_photo}
		<img src="{feature_photo}" class="img-fluid feature-product" alt="{{language_code}_title}">
	{/if}

	{par_main_fluid_setup}
		{if related_products != ""}
				<h4>Some of our most popular Products</h4>
				<table class="table table-striped table-hover">
					<thead class="bg-dkblue text-white">
						<tr>
							<th>KELTEC#</th>
							<!--<th>AS#</th>-->
							<th>Description</th>
							<th></th>
						</tr>

					</thead>
					<tbody>

				{related_products}
					<tr>
						<td>{related_products:title}</td>
						{!--<td>{exp:kt_tools:get_as_no keltec_no="{related_products:title}"}</td>--}
						<td>{exp:kt_tools:cleandescription}{related_products:description}{/exp:kt_tools:cleandescription}</td>
						<td><a href="{path='products/item/{related_products:url_title}'}" class="">Details</a></td>
					</tr>

				{/related_products}
					</tbody>
				</table>
			{/if}



{/exp:channel:entries}
	{layout:set name="sidebar"}
	<div class="row">
		<div class="col mb-5">
			<div class="list-group">
			{exp:channel:entries channel="site_pages" dynamic="no" fixed_order="298394|298350|298368|298359|311912|298330|298333|298338|298326|298412|298383|298316|321154|324147" disable="categories|category_fields|member_data|pagination" cache="yes" refresh="60"}
			
			<a href="{site_url}products/{url_title}" class="list-group-item list-group-item-action{if url_title == segment_2} active{/if}">{title}</a>
			
			{/exp:channel:entries}
			</div>
	</div></div>
		{par_filter_cross_reference}
		{exp:channel:entries channel="misc_content" url_title="disclaimer" dynamic="no" disable="categories|category_fields|member_data|pagination" cache="yes" refresh="30"}
			<div class="pt-5">
				{if {language_code}_title != ""}<h3 class="text-uppercase">{{language_code}_title}</h3>{/if}
				<p class="">{{language_code}_basic_text}</p>
			</div>
		{/exp:channel:entries}

{/layout:set}
