{layout="layouts/_main_html_layout"}

{exp:channel:entries channel="site_pages_legal" disable="" url_title="sales-order-terms-conditions" dynamic="no"}



<div class="container-fluid dashboard-header bg-dkblue">
    <div class="row padding-two-percent">
        <div class="col-6 col-md-2 align-self-center">
            <a href="{site_url}">
			     <img src="{site_url}assets/images/keltec-technolab-rev2c.png" class="col-12 col-md-10" alt="Keltec Technolab">
			</a>
        </div>
        <div class="col-6 col-md-10 align-self-center">
                <h4 class="text-right text-white">{title}</h4>
        </div>
    </div>
</div>


<div class="container p-1 p-md-5">
    <div class="row">
        <div class="col-12">
            {body_copy}
        </div>
    </div>
</div>








{/exp:channel:entries}