{layout="layouts/_main_html_layout"}
{layout:set name="title"}Oops! Error 404{/layout:set}
<div class="container">
	<div class="row" style="height:600px;">
		<div class="col align-self-center">
			<h1 class="text-center display-1" style="font-size:9rem;font-weight:700;"><strong>404</strong></h1>
			<p class="lead text-center">We are sorry, but the page you requested was not found.</p>
			<p class="lead text-center"><a href="{site_url}{language_code}" class="btn btn-outline-primary btn-lg rounded-pill">Go Home</a>&nbsp;&nbsp;<a href="{site_url}{language_code}/contact" class="btn btn-outline-primary btn-lg rounded-pill">Contact Us</a></p>
			
		</div>
	</div>
</div>


