{layout="layouts/_job_posting_template"}

{exp:channel:entries channel="pages" url_title="request-a-quote"}
	{layout:set name="title"}{{language_code}_title}{/layout:set}
	{layout:set name="page_title"}{{language_code}_title}{/layout:set}
	{layout:set name="seo_description"}{if {language_code}_seo_description != ""}{{language_code}_seo_description}{if:else}{default_seo_description_{language_code}}{/if}{/layout:set}
	{layout:set name="seo_canonical"}{current_url}{/layout:set}


	{par_edit_this}
	{if feature_photo}
		<img src="{feature_photo}" class="card-img-top" alt="{{language_code}_title}">
	{/if}
	<p class="lead">{position_type}</p>
	
	{{language_code}_rich_text_block}
	
	<h2>Request your quote Now</h2>
	
	<p class="lead">  The Form goes here.  What info needs collected?</p>
	<div class="col-md-8">

	</div>
{/exp:channel:entries}


	
	
	
	
	{layout:set name="sidebar"}
		<h4>Sign up for our Mailing List</h4>
		{par_mailinglist_ac_form}
	
	
	{/layout:set}
