{exp:channel:entries channel = "orders" status = "shipped" year = "2022" month = "9" disable="categories|category_fields|pagination|member_data"}
"{title}",
"{url_title}",
"{order_billing_address}",
"{order_billing_address2}",
"{order_billing_city}",
"{order_billing_company}",
"{order_billing_country}",
"{order_country_code}",
"{order_billing_email}",
"{order_billing_first_name}",
"{order_billing_last_name}",
"{order_billing_phone}",
"{order_billing_state}",
"{order_billing_zip}",
"{csr_username}",
"{member_company}",
"{order_customer_email}",
"{order_customer_full_name}",
"{order_language}",
"{customer_number}",
"{customer_po}",
"{customer_pay_code}",
"{order_customer_phone}",
"{dropship}",
"{fob}",
"{order_fedex_collect_number}",
"{order_full_billing_address}",
"{order_full_shipping_address}",
"{order_csr}",
"{order_csr_email}",
"{order_coupons}",
"{order_discount}",
"{order_items}",
"{order_shipping}",
"{order_shipping_instruction}",
"{order_shipping_option}",
"{order_shipping_note}",
"{order_shipping_plus_tax}",
"{order_subtotal}",
"{order_subtotal_plus_tax}",
"{order_tax}",
"{order_total}",
"{order_tracking_number}",
"{other_shipping_notes}",
"{packing_slip}",
"{order_last_four}",
"{order_error_message}",
"{order_ip_address}",
"{order_payment_gateway}",
"{order_subscription_id}",
"{order_transaction_id}",
"{order_vault_id}",
"{order_preferred_carrier}",
"{req_ship_date}",
"{so_number}",
"{order_shipping_address}",
"{order_shipping_address2}",
"{order_shipping_city}",
"{order_shipping_company}",
"{order_shipping_country}",
"{order_shipping_country_code}",
"{order_shipping_email}",
"{order_shipping_first_name}",
"{order_shipping_last_name}",
"{shipping_method}",
"{order_shipping_phone}",
"{order_shipping_state}",
"{order_shipping_zip}",
"{order_ups_collect_number}",
"{unshipped_items}",
/n/r


{/exp:channel:entries}