<nav class="navbar navbar-expand-lg navbar-dark bg-dkblue fixed-top keltec">

  	<a class="navbar-brand" href="tel:+13304253100">+1 (330) 425-3100</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto me-auto">
      {exp:structure:nav_advanced show_depth="4"}
       <li class="nav-item">
          <a href="{if root:title == 'Home'}{site_url}{if:else}{root:page_url}{/if}" class="nav-link">{if root:title == "Home"}Home{if:else}{root:title}{/if}</a>
        </li> 
        
      {/exp:structure:nav_advanced}
      {if logged_in} 
        <li class="nav-item">
          <a href="{site_url}shop" class="nav-link">Shop</a>
        </li>
        {if:else}  
        <li class="nav-item">
          <a href="{site_url}search" class="nav-link">Search</a>
        </li>
        {/if}
    </ul>
    <ul class="navbar-nav ml-auto">
		<!--<li class="nav-item">
              <a class="nav-link search"  data-toggle="modal" data-target="#search" href="" role="button" >
                <i class="fas fa-search"></i>
              </a>
            </li> -->


      {!-- <li class="nav-item dropdown">
       <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-globe-americas"></i>
        </a>
        <div class="dropdown-menu rounded-0 standout" aria-labelledby="navbarDropdown">
          <a class="dropdown-item{if language_code == 'en'} active{/if}" href="{site_url}en/{if current_path != '/'}{current_path}{/if}">{english_en}</a>
          <a class="dropdown-item{if language_code == 'es'} active{/if}" href="{site_url}es/{if current_path != '/'}{current_path}{/if}">{spanish_en}</a>
          <a class="dropdown-item{if language_code == 'pt'} active{/if}" href="{site_url}pt/{if current_path != '/'}{current_path}{/if}">{portugese_en}</a>
        </div>
      </li>--}
        {if logged_in}
          {!-- {if logged_in_group_id != 13 || logged_in_group_id != 12} --}

          {if logged_in_group_id != 13}
            <li class="nav-item">
              <a class="nav-link search" data-toggle="collapse" href="#collapseSummary" role="button" aria-expanded="false" aria-controls="collapseSummary">
                <i class="fas fa-shopping-cart"></i> {exp:cartthrob:total_items_count}
              </a>
            </li>
          {/if}
          {if '{exp:cookie:get name="custno"}' != ""}
            <li class="nav-item dropdown bg-success">
          {if:else}
            <li class="nav-item dropdown bg-brightblue">
          {/if}
		  		<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		  			{screen_name}
	        	</a>
				<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
		          {if logged_in_group_id == 5}
		            <a class="dropdown-item" href="{path='accounts/dashboard'}"><i class="fas fa-user-circle"></i> Dashboard</a>
		            <a class="dropdown-item" href="{path='accounts/orders'}"><i class="fas fa-shopping-cart"></i> Orders</a>
               <a href="{site_url}payments" class="dropdown-item"><i class="far fa-credit-card"></i> Pay Open Invoices</a>
					{!--   <a class="dropdown-item" href="{path='accounts/returns'}"><i class="fas fa-user-circle"></i> Returns</a> --}
          {if:elseif logged_in_group_id == 12}

          {if:elseif logged_in_group_id == 13}
                  <a class="dropdown-item" href="{path='accounts/dashboard'}"><i class="fas fa-user-circle"></i> Dashboard</a>
		              <a class="dropdown-item" href="{path='accounts/orders'}"><i class="fas fa-shopping-cart"></i> Orders</a>
              {if:else}
				  {!-- {if logged_in_group_id != 5 || logged_in_group_id != 12} --}
				  	<a class="dropdown-item" href="{path='accounts/csr-customer-orders'}"><i class="fas fa-shopping-cart"></i> Customer Orders</a>
				  	<a class="dropdown-item" href="{path='customers'}"><i class="fas fa-users"></i> Customer List</a>

				  	<a class="dropdown-item" href="{path='accounts/returns'}"><i class="fas fa-undo-alt"></i> Returns</a>
				  	<a class="dropdown-item" href="https://docs.google.com/presentation/d/1-Gl2HPq9OfSodYShQtCuo3Mw3QycwH-m5cJj9D6UYrg/edit?usp=sharing"
					  	target="_blank"><i class="fas fa-book"></i> Site User Guide</a>
				   {/if}

	            {if logged_in_group_id == 1 OR logged_in_group_id == 8 OR logged_in_group_id == 9}
	                <a class="dropdown-item" href="{site_url}admin.php" target="_blank"><i class="fas fa-tachometer-alt"></i> Site Control Panel</a>
                  <a class="dropdown-item" href="{site_url}managers/logged-in-customers" target="_blank"><i class="fas fa-tachometer-alt"></i> Online Customers</a>
	             {/if}


           <div class="dropdown-divider"></div>
           <a class="dropdown-item" href="{path='accounts/logout-user'}"><i class="fas fa-sign-out-alt"></i> Logout</a>
        </div>
      </li>
      {if:else}

          <li class="nav-item bg-brightblue">
            <a class="nav-link standout" href="{path='accounts/login'}">{member_login_en}</a>
          </li>
      {/if}
    </ul>
  </div>
</nav>
