<h3 class="text-white text-uppercase text-center">{search_{language_code}}</h3>
	        {exp:search:simple_form 
	        	channel="products|product_segment_pages|brand_models|manufacturer_brands" 
	        	result_page = "search/results" 
	        	no_result_page = "search/no-results" 
	        	search_in="everywhere"
	        	where="all"
	        }
				  <div class="input-group input-group-lg">
					  <label for="keywords" class="sr-only">{search_{language_code}}:</label>
					  <input type="text" class="form-control rounded-0" name="keywords" id="keywords" value="" aria-label="Input your search here">
					  <div class="input-group-append">
					 
					    <button class="btn btn-primary rounded-0" type="submit" value="submit" aria-haspopup="true" aria-expanded="false"><i class="fas fa-search"></i></button>
					    
					  </div>
					</div>

			{/exp:search:simple_form}
        