<ul class="nav text-white">
  <li class="nav-item">
    <a class="nav-link active" href="">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="">Products</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Quality</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">About</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Careers</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Contact</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Shop</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Privacy Policy</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Website Terms</a>
  </li>
 
</ul>
