<h4 class="text-danger">BETA NOTES</h4>
	<p class="text-danger" style="font-size:12px;">This is pulling info from the last Excel Doc Paul/Ed provided. The only thing I did not include was the price.  I want to draw the price off of the "Products table" so that the Pricing Guide & the EComm always are in sync.</p>
	-----
	<p class="text-danger" style="font-size:12px;">Currently, the pricing is all List pricing, pulled from the Products table. When a Keltec Customer is logged in, the pricing will reflect his Custom Pricing & his line item and/or blanket discounts, with the product minimum discounts factored in.</p>
	-----
	<p class="text-danger" style="font-size:12px;"><b>The Export is limited to 100 records at the  moment.</b></p>

