{layout:set name="keltec_phone"}{phone_number}{phone_number:{language_code}}{/phone_number}{/layout:set}
  	{layout:set name="keltec_address"}{main_address}{main_address:{language_code}}{/main_address}{/layout:set}
  	{layout:set name="copyright"}{copyright}{copyright:{language_code}}{/copyright}{/layout:set}
  	{layout:set name="header_logo"}{2c_reverse_logo}{2c_reverse_logo:image:_md}{/2c_reverse_logo}{/layout:set}
    {layout:set name="header_logo_alttext"}{2c_reverse_logo}{2c_reverse_logo:alt_text}{/2c_reverse_logo}{/layout:set}
	{layout:set name="footer_logo"}{footer_logo}{footer_logo:image}{/footer_logo}{/layout:set}
    {layout:set name="footer_logo_alttext"}{footer_logo}{footer_logo:alt_text}{/footer_logo}{/layout:set}
	{layout:set name="default_seo_image"}{default_seo_image}{/layout:set}
    {layout:set name="social_media"}
        {social_media}
            <a href="{social_media:web_address}" class="btn btn-default p-2" target="_blank">{social_media:icon_svg}</a>
        {/social_media}
    {/layout:set}
    {layout:set name="disclaimer"}{site_disclaimer}{site_disclaimer:{language_code}}{/site_disclaimer}{/layout:set}


    {layout:set name="avatar"}
    <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor" style="color:rgba(255,255,255,.5);" class="bi bi-person-circle" viewBox="0 0 16 16">
        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
      </svg>
    {/layout:set}


