{preload_replace:headline="A customer has placed an order"}
 

<table width="600" cellpadding="5" cellspacing="0" style="margin-left:auto;margin-right:auto;">
		<tr>
			<td><img src="{site_url}assets/images/keltec-technolab-color.png" width="150px" height=""></td>
			<td style="text-align:right;font-size:18px;font-family:arial, sans-serif;"><b>{headline}</b></td>
		</tr>
		<tr>
			<td style="font-size:12px;color:#000000;font-family:arial, sans-serif;">
				<p>2300 E. Enterprise Pkwy.<br>
				Twinsburg, OH 44087<br>
				USA<br>
				Telephone: 330-425-3100</p>
				<p>{order_id}</p>
			</td>
			<td style="font-size:14px;color:#000000;font-family:arial, sans-serif;">
				
			</td>
		</tr>
	</table>
	
	////DUMP DUMP DUMP TRASH ///