{layout="layouts/_accounts_html_layout"}

{!-- Header --}
<div class="container-fluid dashboard-header bg-dkblue">
    <div class="row padding-two-percent">
        <div class="col-6 col-md-2 align-self-center">
            <a href="{site_url}{language_code}">
			     <img src="{site_url}assets/images/keltec-technolab-rev2c.png" class="col-12 col-md-10" alt="Keltec Technolab">
			</a>
        </div>
        <div class="col-6 col-md-10 align-self-center">
                <h4 class="text-right text-white">{layout:pagetitle}</h4>
        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 bg-light" style="padding:3%;">
        
        
        {layout:contents}
        
        
        
        
        </div>
    </div>
</div>


