<!-- Left nav
================================================== -->
	<table class="table">
		<tr><td>						
			
			<strong>Total</strong></td><td>
			<span class="sale_price pull-right"><span class="cart_total">{exp:cartthrob:cart_total}</span></span>
			
		</td></tr>
		<tr><td>
			
			<small><strong>Subtotal</strong></small></td><td>
			<span class="cart_subtotal pull-right">{exp:cartthrob:cart_subtotal}</span>
			
		</td></tr>
		<tr><td>
			
			<small><strong>Shipping</strong></small></td><td>
			<span class="cart_shipping pull-right">{exp:cartthrob:cart_shipping}</span>
			
		
		</td></tr>
		<tr><td>
			
			<small><strong>Tax</strong></small></td><td>
			<span class="cart_tax pull-right">{exp:cartthrob:cart_tax}</span>
			
		</td></tr>
		<tr><td>
			
			<small><strong>Discount</strong></small></td><td>
			<span class="cart_discount pull-right">{exp:cartthrob:cart_discount}</span>
			
		</td></tr>
		
		
 		</table>
