<select name="expiration_year">
{% for year in exp.cartthrob.years({years:"6"}) %}
    <option value="{{ year.year }}">{{ year.year }}</option>
{% endfor %}
</select>

<br />Outputs a list of years
<br />http://cartthrob.com/docs/tags_detail/years/
