{layout="layouts/_main_html_layout"}


{!-- Header --}
<div class="container-fluid dashboard-header bg-dkblue">
    <div class="row padding-two-percent">
        <div class="col-6 col-md-2 align-self-center">
            <a href="{site_url}{language_code}">
			     <img src="{site_url}assets/images/keltec-technolab-rev2c.png" class="col-12 col-md-10" alt="Keltec Technolab">
			</a>
        </div>
        <div class="col-6 col-md-10 align-self-center">
        </div>
    </div>
</div>

	<div class="container mt-5 mb-5 p-5">
		<div class="row">
			<div class="col-md-8 col-lg-6 mx-auto">
				<div class="row">
					<div class="col-sm-12 col-md-6">
						<div class="alert alert-danger" role="alert">
							<h6>Someone is currently logged in with these credentials.</h6>
							<p  style="font-size:14px;">Please request that they log out so you can sign in. </p>
							<p  style="font-size:12px;">If you think this is incorrect, contact your KELTEC CSR and asked to be manually logged out so that you can sign back in.</p>
						</div>
					</div>
				
					<div class="col-sm-12 col-md-6">
						
							
						
						<div id="usernote"></div>
						{exp:member:login_form action="{site_url}{language_code}/accounts/login" return='{current_url}'}
							
						<div class="form-group">
								<label for="username">Customer Number:</label>
								<input type="text" class="form-control rounded-0" 
								name="username" value="" id="username" required>
							</div>
							<div class="form-group">
								<label for="password">Password</label>
								<input type="password" name="password" value="" class="form-control rounded-0" id="password" required>
							</div>
							<button type="submit" name="submit" class="btn btn-primary rounded-0">Submit</button>
							<p class="text-right mt-3"><a href="{path='member/forgot_password'}">Forgot your password?</a></p>
						{/exp:member:login_form}
					</div>
				</div>
			</div>
		</div>
	</div>
	


