{layout="layouts/_single_column_layout"}

{exp:channel:entries channel="miscellaneous_pages" disable="" url_title="request-web-store-access"}

{layout:set name="title"}{{language_code}_title}{/layout:set}
{layout:set name="page_title"}{{language_code}_title}{/layout:set}
{layout:set name="seo_description"}{if {language_code}_seo_description != ""}{{language_code}_seo_description}{if:else}{default_seo_description_{language_code}}{/if}{/layout:set}
{layout:set name="seo_canonical"}{current_url}{/layout:set}


<div class="col-sm-10 col-md-10 ml-auto mr-auto">
	{{language_code}_rich_text_block}
</div>


{/exp:channel:entries}