{% spaceless %}
	<span class="nowrap
	{% if settings.use_colored_labels is defined and settings.use_colored_labels == 'true' %}
		status-tag
		{% if value == 1%}
			st-open
		{% else %}
			st-closed
		{% endif %}
	{% endif %}
	">
	{% if settings.display_style is defined and settings.display_style == 'yes_no' %}
		{{ value == 1 ? 'Yes' : 'No' }}
	{% else %}
		{{ value == 1 ? 'ON' : 'OFF' }}
	{% endif %}
	</span>
{% endspaceless %}