<h2>2024 Order Count by Month</h2>










{exp:query sql="SELECT COUNT(*) AS census FROM exp_channel_titles WHERE channel_id = '26' AND year = '2024' AND month = '01'"}
<p>January Sales: {census}</p>
{/exp:query}
{exp:query sql="SELECT COUNT(*) AS census FROM exp_channel_titles WHERE channel_id = '26' AND year = '2024' AND month = '02'"}

<p>February Sales: {census}</p>
{/exp:query}
{exp:query sql="SELECT COUNT(*) AS census FROM exp_channel_titles WHERE channel_id = '26' AND year = '2024' AND month = '03'"}
<p>March Sales: {census}</p>
{/exp:query}
{exp:query sql="SELECT COUNT(*) AS census FROM exp_channel_titles WHERE channel_id = '26' AND year = '2024' AND month = '04'"}
<p>April Sales: {census}</p>
{/exp:query}
{exp:query sql="SELECT COUNT(*) AS census FROM exp_channel_titles WHERE channel_id = '26' AND year = '2024' AND month = '05'"}
<p>May Sales: {census}</p>
{/exp:query}
{exp:query sql="SELECT COUNT(*) AS census FROM exp_channel_titles WHERE channel_id = '26' AND year = '2024' AND month = '06'"}
<p>June Sales: {census}</p>
{/exp:query}
{exp:query sql="SELECT COUNT(*) AS census FROM exp_channel_titles WHERE channel_id = '26' AND year = '2024' AND month = '07'"}
<p>July Sales: {census}</p>
{/exp:query}
{exp:query sql="SELECT COUNT(*) AS census FROM exp_channel_titles WHERE channel_id = '26' AND year = '2024' AND month = '08'"}
<p>August Sales: {census}</p>
{/exp:query}
{exp:query sql="SELECT COUNT(*) AS census FROM exp_channel_titles WHERE channel_id = '26' AND year = '2024' AND month = '09'"}
<p>September Sales: {census}</p>
{/exp:query}
{exp:query sql="SELECT COUNT(*) AS census FROM exp_channel_titles WHERE channel_id = '26' AND year = '2024' AND month = '10'"}
<p>October Sales: {census}</p>
{/exp:query}
{exp:query sql="SELECT COUNT(*) AS census FROM exp_channel_titles WHERE channel_id = '26' AND year = '2024' AND month = '11'"}
<p>November Sales: {census}</p>
{/exp:query}
{exp:query sql="SELECT COUNT(*) AS census FROM exp_channel_titles WHERE channel_id = '26' AND year = '2024' AND month = '12'"}
<p>December Sales: {census}</p>
{/exp:query}