{exp:channel:entries channel="locations" disable="pagination|member_data" dynamic="no" category="{embed:categoryid}" sort="asc" cache="yes" refresh="60"}

			<div class="col-sm-6 col-lg-3">
				<div class="card rounded-0{if sticky == 'y'} bg-feature{/if}" style="margin-bottom:24px;background-color: #efefef;min-height:345px;">
					{par_edit_this}
				  {if location_photo}
				  	<img src="{location_photo:md}" class="card-img-top" alt="Photo of {title}">
				  {/if}
				  <div class="card-body">
				  	<address>
					    <p class="card-text">
						    <b>{title}</b><br>
						    {address1}<br>
						    {city}, {state} {postal}<br>
						    {country}<br>

							{if location_phone}
								<strong>Phone:</strong> <a href="tel:{location_phone}">{location_phone}</a><br>
							{/if}
							{if location_fax}
								<strong>Fax:</strong> {location_fax}<br>
							{/if}
						</p>
						 <p class="card-text">
							 {location_type}
						 </p>
						 {if google_maps_url}
								<p class="card-text"><a href="{google_maps_url}" target="_blank"><i class="fas fa-map-marked-alt"></i> Map</a></p>
						{/if}
				  	</address>
				  </div>
				</div>
			</div>
		{/exp:channel:entries}