<table class="table table-striped table-hover">
	<tr>
		<th>Product Application</th>
		<th>Keltec Item #</th>
		<th>OEM #</th>

		<th></th>
	</tr>

{exp:channel:entries channel="brand_models"  entry_id="{embed:model}" dynamic="no"}
	{product_application_grid}
    	<tr>
	    	<td>{product_application_grid:application_types}</td>
	    	<td><a href="{par_site_url_lang}products/item/{product_application_grid:keltec_part}">{product_application_grid:keltec_part}</a></td>
	    	<td>{product_application_grid:oem_original_part}</td>
	    	<td></td>
    	</tr>
    	
	{/product_application_grid}
	
	
	
{/exp:channel:entries}

</table>