{layout="layouts/_csr_main_header"}
{layout:set name="css"}
	<link href="{site_url}assets/vendors/datatables/dataTables.bootstrap4.css" rel="stylesheet">
{/layout:set}
{layout:set name="js"}
	<script src="{site_url}assets/vendors/datatables/jquery.dataTables.min.js"></script>
	<script src="{site_url}assets/vendors/datatables/dataTables.bootstrap4.min.js"></script>
	<script>
		$(document).ready(function() {
		$('#orders').DataTable( {
		   "order": [[ 2, "desc" ]],
		   "lengthChange": false
		});
	} );
	</script>
{/layout:set}
{layout:set name="pageTitle"}Online orders for {segment_3} - {exp:kt_tools:get_company_name_fr_un username = "{segment_3}"}{/layout:set}
{if segment_3 !=""}
	<table id="orders" class="table table-striped table-hover" style="width:100%">
		<thead class="thead-dark">
			<tr>
				<th>SO#</th>
				<th>Order Date</th>
				<th>Status</th>
				<th>Subtotal</th>
				<th>Shipping</th>
				<th>Ship Via</th>
				<th>Tracking</th>
				<th>Est. Ship Date</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
{/if}
	{if segment_3 ==""}
		<div class="col-md-4 offset-md-4">

			<h5>Filter by Customer</h5>
			{exp:kt_tools:create_csr_customer_select_list un="{logged_in_username}" sel="{segment_3}"}
		</div>
	{if:elseif segment_3 == 'all'}

		<div class="col-md-4">
			<h5>Filter by Customer</h5>
			{exp:kt_tools:create_csr_customer_select_list un="{logged_in_username}" sel="{segment_3}"}
		</div>
		{exp:channel:entries channel="orders" search:csr_username="={logged_in_username}" status="not open|close" disable="categories|category_fields|member_data" limit="250"}

	{if:else}
		<div class="col-md-4">
			<h5>Filter by Customer</h5>
			{exp:kt_tools:create_csr_customer_select_list un="{logged_in_username}" sel="{segment_3}"}
		</div>
		{exp:channel:entries channel="orders" search:customer_number="={segment_3}" status="not open|close" disable="categories|category_fields|member_data" limit="250"}

	{/if}
{if segment_3 !=""}
		{if no_results}
				<tr><td>No online orders yet for {segment_3}</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
		{/if}


				<tr>

					<td>{so_number}</td>
					<td style="line-height:1">{entry_date format="%n/%d/%Y"}<br><small>{entry_date format="%g:%i:%s %a"}</small></td>
					<td><span class="badge badge-pill
					{if status == 'Shipped'}badge-success{if:else}badge-secondary{/if}">{status}</span></td>
					<td>{order_subtotal}</td>

					<td>{order_shipping_instruction:label}</td>


					<td>{shipping_method}</td>
					<td>
						{exp:keltec_shipping:tracking_links shipvia="{shipping_method}" tracking="{order_tracking_number}"}
					</td>
					<td>
						{embed="embeds/expected_ship" order_id="{entry_id}"}
					</td>
					<td>
						<a target="_blank" class="btn btn-outline-primary rounded-0 btn-sm" href="{path=store/invoice}/{exp:cartthrob:view_encrypted_string string='{entry_id}'}">Invoice</a>
						<a href="{path='accounts/order-detail/{entry_id}'}" class="btn btn-outline-primary rounded-0 btn-sm">View</a>
						{par_edit_this_link}
					</td>
				</tr>

{/exp:channel:entries}
		</tbody>
		<tfoot class="thead-dark">
		<tr>
				<th>SO#</th>
				<th>Order Date</th>
				<th>Status</th>
				<th>Subtotal</th>
				<th>Shipping</th>
				<th>Ship Via</th>
				<th>Tracking</th>
				<th>Est. Ship Date</th>
				<th></th>
			</tr>
		</tfoot>
	</table>
{/if}