{preload_replace:template_group="store"}
{preload_replace:template="index"}
 
{embed="{template_group}/_new_header" title="Checkout" template_group="{template_group}" template="{template}" pagetitle='Checkout - Pay Now <span class="float-right"><i class="fab fa-cc-visa"></i> <i class="fab fa-cc-mastercard"></i> <i class="fab fa-cc-discover"></i> <i class="fab fa-cc-amex"></i></span>
' }
<div class="container">
	<div class="row">
		<div class="col text-right">
			<p><a href="{site_url}{language_code}/store/checkout/{segment_3}" class="btn btn-primary btn-lg rounded-0">Pay Later</a></p>
		</div>
	</div>
</div>

{par_order_manifest}
<p><hr></p>
	<div class="container">
		<div class="row">
			
			
			<div class="col-md-12">
			{if logged_in}
					<section id="checkout-section">
					{if "{exp:cartthrob:total_items_count}" > 0}
	 						 					
						{!-- see  http://cartthrob.com/docs/tags/global_form_settings/index.html#inline-errors --}
						
						{exp:cartthrob:checkout_form 
							error_handling="inline" 
							gateway="authorize_net" 
							required="first_name|last_name|customer_po" 
							return="{template_group}/order_info"}

								
 
								{!-- the next part handles inline errors. the error_handling=inline parameter is set
									so standard error messages will not be shown
									 --}
								{if errors_exist}
								<div class="control-group">
									{!-- not a fan of inline JS, but the if_errors conditional works only inside the checkout form 
										so if you want to use JS, you'll need to use inline JS.
										--}
									<script type="text/javascript">
										jQuery(document).ready(function($){
								 			{errors}
												{if field_error}
													$("#{field}").closest(".form-group").addClass("error");
													$("#{field}").after('<span class="help-inline text-danger">{error}</span>');
												{/if} 
											{/errors}
										});
									</script>
									{errors}
										{if first_error}
										<div class="alert alert-warning">
											<strong>Alert</strong> There are <span class="badge badge-warning">{error:total_results}</span> error(s). Please correct the errors listed below
										</div>
										{/if}
											
											<ul>
												{if field_error}<li>{field}</li>{/if} 
												{if global_error}<li>Error</li>{/if} 
												{error}
											</ul>
 									{/errors}
									
								</div>
								{/if}
							

							<div class="row">
								<div class="col-md-8">
									<div id="checkout_form_gateway_fields">
										{gateway_fields}
									</div>
								</div>
								<div class="col-md-4">
									{par_shipping_instructions}
									
								</div>
							</div>
							<div class="control-group">
	 						    <div class="form-actions py-4">
								{!-- do not add a name attribute to your submit button if you want it to work with stripe payment gateway --}
								    <p class="text-center"><input type="submit" id="checkout_complete" class="btn btn-success"  value="Complete Checkout" /></p>
								</div>
		 					</div>

	 					{/exp:cartthrob:checkout_form}
	 			{if:else}	
	 					<h1>Checkout</h1>
						 <p>You have no items in your cart. </p>
						<a href="{path={template_group}}" class="btn btn-primary btn-small">Continue shopping.</a> 
				{/if}
					</section>
				{/if}
				{if logged_out}
					<div class="alert alert-warning" role="alert">
						<h5>You must be logged in to place an order.</h5>
						If you are a current KELTEC Technolab customer, please <a href="#" data-toggle="modal" data-target="#memberLogin">login</a> to complete your order. If you are not currently a KELTEC Technolab customer, please call (000) 000-0000 to speak with a Customer Sales Representative (CSR) and setup an account. You can then return to this page once logged in and complete your order.
						
					</div>


				{/if}
				</div>
		</div>
	</div>

 	{embed="{template_group}/_footer" template="{template}" template_group="{template_group}"}
