<table width="600" cellpadding="5" cellspacing="0" style="margin-left:auto;margin-right:auto;">
		<tr>
			<td><img src="{site_url}assets/images/keltec-technolab-color.png" width="150px" height=""></td>
			<td style="text-align:right;font-size:18px;font-family:arial, sans-serif;"><b>Your Sales order has been issued</b></td>
		</tr>
		<tr>
			<td style="font-size:12px;color:#000000;font-family:arial, sans-serif;">
				<p>2300 E. Enterprise Pkwy.<br>
				Twinsburg, OH 44087<br>
				USA<br>
				Telephone: 330-425-3100</p>
			</td>
		</tr>
	</table>
	<table width="600" cellpadding="5" cellspacing="0" style="margin-left:auto;margin-right:auto;">
		<tr>
			<td style="background-color:#000000;color:#ffffff;font-size:14px;font-family:arial, sans-serif;width:100%;">Order Summary</td>
		</tr>
		<tr>
			<td><hr></td>
		</tr>
	</table>



{exp:channel:entries entry_id="{entry_id}" and status="SALES ORDER ISSUED"}
<table width="600" cellpadding="5" cellspacing="0" style="margin-left:auto;margin-right:auto;">
	<tr>
		<th width="35%" align="right" style="font-size:14px;color:#000000;font-family:arial, sans-serif;">
			Sales Order Number 
		</th>
		<td style="font-family:arial, sans-serif;color:#000000;font-family:arial, sans-serif;">
			<b>{so_number}</b>
		</td>
	</tr>
	<tr>
		<th width="35%" align="right" style="font-size:14px;color:#000000;font-family:arial, sans-serif;">
			Status:
		</th>
		<td style="font-size:14px;color:#000000;font-family:arial, sans-serif;">
			{status}
		</td>
	</tr>
	<tr>
		<th width="35%" align="right" style="font-size:14px;color:#000000;font-family:arial, sans-serif;">
			Order Subtotal:
		</th>
		<td style="font-size:14px;color:#000000;font-family:arial, sans-serif;">
			{order_subtotal}
		</td>
	</tr>
	<tr>
		<th width="35%" align="right" style="font-size:14px;color:#000000;font-family:arial, sans-serif;">
			Shipping Cost:
		</th>
		<td style="font-size:14px;color:#000000;font-family:arial, sans-serif;">
			{if order_shipping > 0.00}{order_shipping}{if:else}Not yet assigned{/if}
		</td>
	</tr>
	<tr>
		<th width="35%" align="right" style="font-size:14px;color:#000000;font-family:arial, sans-serif;">
			Order Total:
		</th>
		<td style="font-size:14px;color:#000000;font-family:arial, sans-serif;">
			{order_total}
		</td>
	</tr>
	<tr>
		<th width="35%" align="right" style="font-size:14px;color:#000000;font-family:arial, sans-serif;">
			Order Date:
		</th>
		<td style="font-size:14px;color:#000000;font-family:arial, sans-serif;">
			{entry_date format="%m %d, %Y"}
		</td>
	</tr>
</table>


<table width="600" cellpadding="5" cellspacing="0" style="margin-left:auto;margin-right:auto;">
	<tr>
		<td>
			<hr>
		</td>
	</tr>
	<tr>
		<td>
			<p style="font-size:14px;color:#000000;font-family:arial, sans-serif;">
				View your invoice at: <a href="{path=store/invoice}/{exp:cartthrob:view_encrypted_string string='{entry_id}'}">KELTECINC.COM</a>
			</p>
			<p style="font-size:14px;color:#000000;font-family:arial, sans-serif;">
				All invoices are subject to KELTEC Technolab "<a href="{site_url}en/sales-order-terms-conditions" target="_blank">Terms and Conditions</a>"
			</p>
		</td>
	</tr>
</table>
{/exp:channel:entries}