{layout="layouts/_main_html_layout"}

<section id="header">
	<div class="page_header_wrapper bg-dkblue">
		<div class="container">
			<div class="row align-items-center" style="height:200px;">
				<div class="col-md-12">
					<h1 class="text-white display-3">{layout:title}</h1>
				</div>
			</div>
		</div>
	</div>
</section>

<div class="section-wrapper rounded-0 bg-lightgrey">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				{if logged_in_group_id == "8"}
					<p class="text-right"><a href="{path='accounts/ktprofile/{segment_3}'}" class="btn btn-outline-primary rounded-0">Back to Profile</a></p>
				{/if}
				{if logged_in_group_id == "9"}
					<p class="text-right"><a href="{path='accounts/ktprofile/{segment_3}'}" class="btn btn-outline-primary rounded-0">Back to Profile</a></p>
				{/if}
				{if logged_in_group_id == "5"}
					<p class="text-right"><a href="{path='accounts/profile/{segment_3}'}" class="btn btn-outline-primary rounded-0">Back to Profile</a></p>
				{/if}
			</div>
			<div class="col-8 offset-2">
				{layout:contents}
			</div>
		</div>
	</div>
</div>