{layout="layouts/_main_html_layout"}

<section id="header">
	<div class="page_header_wrapper bg-dkblue">
		<div class="container">
			<div class="row align-items-center" style="height:100px;">
				<div class="col-md-2 divider">
					<a href="{site_url}{language_code}">
					<img src="{site_url}assets/images/keltec-technolab-rev2c.png" class="img-fluid brand-logo" alt="Keltec Technolab">
				</a>
				</div>
				<div class="col-md-10">
					<h1 class="text-white">{layout:title}</h1>
				</div>
			</div>
		</div>
	</div>
</section>

<div class="section-wrapper rounded-0">
	<div class="container">
		<div class="row">

				{layout:contents}

		</div>
	</div>
</div>