{layout="layouts/_main_html_layout"}
<section id="header" class="page_header_wrapper bg-dkblue">
	<div class="container">
		<div class="row align-items-center" style="height:200px;">
			<div class="col-8 offset-2 col-md-2 offset-md-0 divider">
				<a href="{site_url}{language_code}">
					<img src="{site_url}assets/images/keltec-technolab-rev2c.png" class="img-fluid brand-logo" alt="Keltec Technolab">
				</a>
			</div>
			<div class="col-md-10">
				<h1 class="text-white">{layout:page_title}</h1>
			</div>
		</div>
	</div>
</section>
{par_summary_collapse}
<div class="section-wrapper rounded-0">
	<div class="container">
		<div class="row">
			<main class="col-md-8 offset-md-2">
				{layout:contents}
			</main>
		</div>
	</div>
</div>