{layout="layouts/_dashboard_shell"}

<style>
	nav.nav.nav-tabs {
		border-bottom-color: black;
	}
	nav.nav.nav-tabs .nav-link.active {
		background-color: black;color:white;border:0px solid black;
	}

</style>
<script>
$(document).ready(function(){
	$('a[data-toggle="tab"]').on('show.bs.tab', function(e) {
		localStorage.setItem('activeTab', $(e.target).attr('href'));
	});
	var activeTab = localStorage.getItem('activeTab');
	if(activeTab){
		$('#navTab a[href="' + activeTab + '"]').tab('show');
	}
});
</script>
<div class="container-fluid">
    <div class="row padding-two-percent">
        <div class="col-8">
            <h3>{layout:pageTitle}</h3>
        </div>
        <div class="col-4 text-right">
            {layout:rightButton}
        </div>
    </div>
</div>
<div class="container-fluid">
	<div class="row">
		<div class="col-12 px-0">
			<nav class="nav nav-tabs px-4" id="navTab" role="tablist">
			   <a class="nav-link active" id="nav-home-tab" data-toggle="tab" href="#websiteOrders" role="tab" aria-controls="nav-website-orders" aria-selected="true"><i class="fas fa-globe-americas"></i> Website Orders</a>
			   <a class="nav-link" id="nav-profile-tab" data-toggle="tab" href="#inhouseOrders" role="tab" aria-controls="nav-offline-orders" aria-selected="false"><i class="fas fa-phone"></i> Call-In Orders</a>
			</nav>
			<div class="tab-content p-4 bg-light" id="nav-tabContent">
				<div class="tab-pane fade show active" id="websiteOrders" role="tabpanel" aria-labelledby="nav-home-tab">
					<table id="ordersOnline" class="table table-striped table-hover table-condensed" style="width:100%">
						<thead class="thead-dark">
							<tr>
								<th>SO#</th>
								<th>Date</th>
								<th>Cust. PO#</th>
								<th>Status</th>
								<th>Subtotal</th>
								<th>Shipping</th>
								<th>Ship Via</th>
								<th>Tracking</th>
								<th>Est. Ship Date</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
					{layout:online_orders}
						</tbody>
						<tfoot class="thead-dark">
							<tr>
								<th>SO#</th>
								<th>Date</th>
								<th>Cust. PO#</th>
								<th>Status</th>
								<th>Subtotal</th>
								<th>Shipping</th>
								<th>Ship Via</th>
								<th>Tracking</th>
								<th>Est. Ship Date</th>
								<th></th>
							</tr>
						</tfoot>
					</table>
				</div>
				<div class="tab-pane fade" id="inhouseOrders" role="tabpanel" aria-labelledby="nav-profile-tab">
					<table id="ordersOffline" class="table table-striped table-hover table-condensed" style="width:100%">
						<thead class="thead-dark">
							<tr>
								<th>SO#</th>
								<th>Date</th>
								<th>Cust. PO#</th>
								<th>Status</th>
								<th>Subtotal</th>
								<th>Shipping</th>
								<th>Ship Via</th>
								<th>Tracking</th>
								<th>Est. Ship Date</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							{layout:offline_orders}
						</tbody>
						<tfoot class="thead-dark">
							<tr>
								<th>SO#</th>
								<th>Date</th>
								<th>Cust. PO#</th>
								<th>Status</th>
								<th>Subtotal</th>
								<th>Shipping</th>
								<th>Ship Via</th>
								<th>Tracking</th>
								<th>Est. Ship Date</th>
								<th></th>
							</tr>
						</tfoot>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
